.addcourse{
      background:  url('../../assets/background.jpg') center / cover no-repeat; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index:1000;
}
.text{
    padding-left: 0.3rem;
    position: relative;
    top:30%;
    left:0%;
    width: 100%;
    height: 40%;
    
}
.smalltitle{
    width: 100%;
    height: 5%;
    font-size: 0.25rem;
     color:#112C57;
      
}
.fadein{
    animation: fadein 0.3s ease forwards;
}
.for{
    width: 100%;
    height: 30%;
    font-size: 0.5rem;
    color:#112C57;
}
.inputarea{
    position: absolute;
    top:40%;
    width: 87%;
    height: 20%;
    font-size: 0.3rem;
     color:#112C57;
    background-color: #EEF5FD;
    box-shadow: none;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    outline: none;
}
.buttons{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 75%;
    left: 5%;
    width: 90%;
    height: 30%;
    padding: 0;
    margin:0;

}

.buttons li{
      background-color: #EEF5FD;
    flex-shrink: 0;
    text-align: center;
    list-style: none;
   display: flex;
    margin-right: 1%;
   width: 15%;
   border-radius: 0.3rem;
justify-content: center;
   height: 35%;
  color: #7C90B1;
    font-size: 0.3rem;
}
.next{
    width: 1.5rem;
    height: 1.5rem;
    background: -webkit-linear-gradient(left top, #7C90B1, #2F29D5);
    outline: none;
    border: none;
    border-radius: 0.4rem;
     position: relative;
    top: 35%;
    left:35%;
   
}
.next span{
    font-size: 0.6rem;
    color:#FFFFFF;
}
.fadeout{
    animation: fadeout 0.5s ease forwards;
}
@keyframes fadein{
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeout{
    from {
         transform: translateX(0);
        opacity: 1;
    }
    to {
       transform: translateX(100%);
        opacity: 0;
    }
}
.lasttitle{
    position: relative;
    top: 23%;
    color:#112C57;
      font-size: 0.6rem;
}
.options{
  display: flex;
  flex-direction: column;
  gap: 0.2rem; 
   height: 25%;
    position: relative;
    top: 45%;
    color:#112C57;
 
  margin:0;
  padding: 0;
}
.one
{
    
    flex-shrink: 0;

background-color: #EEF5FD;
     color: #7C90B1;
text-align: center;
margin-top: 0.2rem;
border-radius:0.3rem ;
    height: 30%;
     width: 15%;

     font-size: 0.25rem;
      list-style: none;
}
.two{
    display: flex;
   position: absolute;
   top: 50%;
  margin:0;
  padding: 0;
 
     height: 30%;
     width: 100%;

  
     color: #7C90B1;
}
.two li{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #EEF5FD;
     color: #7C90B1;
     margin-right: 0.3rem;
     font-size: 0.2rem;
     list-style: none;
     border-radius:0.3rem ;
     padding-left: 0.1rem;
     padding-right: 0.1rem;
          width:auto;
          height: 100%;
}
.two .imgbox{
    width: 8%;
   background-color: #FFFFFF;
  border-radius: 50%;
  overflow: hidden;
    height: 100%;
  
}
.imgbox img{
    width: 100%;
    height: 100%;
}
.delete{
    position: absolute;
    right: -3%;
    top: -50%;

    width: 0.3rem;
    height: 0.3rem;
}
.delete img{
    width: 100%;
    height: 100%;
}